@import 'breakpoints';

// body {
//   @include breakpoint(tiny) {
//     margin: $body-margin-height 20px;
//     max-width: 100%;
//   }
//   @include breakpoint(medium) {
//     margin: $body-margin-height 200px;
//     max-width: 40%;
//   }
// }

.medium-at-least {
  @include breakpoint(medium) {
    display: block;
    // visibility: visible;
  }
  @include breakpoint(less-medium) {
    // display: none;
    // visibility: hidden;
    color: $main-background-color;
  }
}

.medium-less-than {
  @include breakpoint(less-medium) {
    display: block;
    // visibility: visible;
  }
  @include breakpoint(medium) {
    display: none;
    // visibility: hidden;
  }
}
