@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$main-background-color: #ddd;
$main-text-color: #000;
$outline-color-test: #000;

$header-background: #333;
$offline-background: #900;
// #f15b31

$nav-background: #337ab7;
$nav-color: #ddd;

$game-square-text-color: $main-text-color;
$game-square-background: $main-background-color;

$player-text-color: $main-text-color;
$player-background: $main-background-color;

$grid-border: 5px solid #333;
