$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';



.blank-square {
  color: $main-background-color;
  font-size: 4vh;
  margin: 0;
  padding-bottom: 33%;
  position: relative;
  text-align: center;
}

body {
  background: $main-background-color;
}

.center-me {
  margin: 0 auto;
}

.emptiness {
  color: $main-background-color;
  font-size: 100pt;
}

footer {
  background: $header-background;
  color: $main-background-color;
  font-size: 2vw;
  margin: 30px 0 0;
  padding: 10px 20px 0;
}

.game-square {
  box-sizing: border-box;
  color: $game-square-text-color;
  font-size: 6vw;
  height: 100%;
  margin: 0;
  padding-top: 15%;
  position: absolute;
  text-align: center;
  width: 100%;
}

header {
  background-color: $header-background;
  color: $main-background-color;
  padding: 30px 20px;
}

h1 {
  // color: #0d2c40;
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
}

.medium-at-least {
  display: block;
}

.medium-less-than {
  display: block;
}

.message-box {
  font-size: $message-box-font-size;
  text-align: center;
}

.player-bottombox {
  color: $main-background-color;
  font-size: 4vh;
  outline: 1px solid #ff0000;
  padding-bottom: 35%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.player-sidebox {
  color: $main-background-color;
  font-size: 4vh;
  outline: 1px solid #ff0000;
  padding-bottom: 50%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.player-container {
  box-sizing: border-box;
  color: $player-text-color;
  font-size: $player-container-font-size;
  height: 100%;
  margin: 0;
  // outline: 1px solid $outline-color-test;
  outline: 1px solid blue;
  padding-left: 8%;
  position: absolute;
  text-align: left;
  width: 100%;
}

.x-left {
  border-right: $grid-border;
}

.x-middle {
  border-left: $grid-border;
  border-right: $grid-border;
}

.x-right {
  border-left: $grid-border;
}

.y-top {
  border-bottom: $grid-border;
}

.y-middle {
  border-bottom: $grid-border;
  border-top: $grid-border;
}

.y-bottom {
  border-top: $grid-border;
}
